<!DOCTYPE html>
<html lang="fr">
  <%- include('includes/head') -%>
  <body>
    <%- include('includes/title') -%>
    <p><%= description %></p>
    <p>Pour plus de détails :
      <ul>
        <li><a href="https://github.com/romulusFR/lifap5-backend-2019-2020#readme">le projet sur GitHub</a></li>
        <li><a href="https://liris.cnrs.fr/~rthion/dokuwiki/doku.php?id=enseignement:lifap5:start">la page de l'unité d'enseignement</a></li>
        <li><a href="/api-docs">la documentation de l'API serveur</a></li>
        <li><a href="/client">le client de départ</a></li>
      </ul>
    </p>
  </body>
</html>
